@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-custom {
    @apply w-screen flex flex-wrap py-4 px-8 justify-between;
  }
	.nav-wrapper {
		@apply flex flex-wrap items-center justify-center text-base;
	}

	.cart-badge {
		@apply absolute -top-2 -right-8 px-2 py-1 text-xxs font-bold leading-none text-red-100 transform bg-red-600 rounded-full;
	}

	.empty-container {
		@apply h-screen pt-20 flex flex-col justify-center items-center;
	}
}

* {
	transition: color .25s;
}

.nav-brand {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5rem;
	color: #fff;
}